<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HrSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HrSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <select class="form-control" id="myLang" onchange="SelectLang()">
                                <option value="en">EN</option>
                                <option value="ar">AR</option>
                            </select>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @*here the popup model*@
            <div id="Loading-busy" class="modal fade" tabindex="-1" aria-hidden="true" role="dialog" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<h5 class="modal-title">Add New Employee</h5>*@
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*here the popup model*@

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HrSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function SelectLang() {
            var selectedValue = $('#myLang').val();
            if (selectedValue == "ar") {
                ChangeLang();
            }

        }
        function ShowLoadingBusy() {
            $('#Loading-busy').modal('show');
        }
        function HideLoadingBusy() {
            $('#Loading-busy').modal('hide');
        }
    </script>
    <script>

        // jQuery
        function ChangeLang() {
            // Get the current URL
            var currentUrl = window.location.pathname;
            // Send the URL as a parameter to the server
            $.ajax({
                url: '@Url.Action("changeLanguage", "Home", new { @lang = "ar" })',
                type: "GET",
                data: { url: currentUrl },
                success: function (data) {
                    // Handle the response data
                    var returnUrl = data.url_ar;
                    if (returnUrl) {
                        // Redirect the user to the returned URL
                        window.location.reload();// = returnUrl;
                    } else {
                        window.location.reload();// = '/';
                        console.log('No return URL received from the server.');
                    }
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                    console.error(error);
                }
            });
        }
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/670829832480f5b4f58b82d3/1i9ru4alk';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
