@model HrSystem.Models.DepartmentViewModel

@{ Layout = "~/Views/Shared/_Layout_ar.cshtml";
                ViewData["Title"] = "Create"; }

<div class="alert-success modal-title text-center">
    <h2>الاقسام-انشاء قسم جديد</h2>
</div>
<hr />



<div class="modal-open">

    <div class="row modal-content">
        <div class="col-md-12">
            <form class="was-validated" asp-action="Create" enctype="multipart/form-data">
                @if (Model?.Message != null)
                {
            <h5 class="alert alert-danger">@Model.Message</h5>}
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">اسم القسم (انجليزي)</label>
                    <input asp-for="Name_En" class="form-control" required />
                    <span asp-validation-for="Name_En" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">اسم القسم (عربي)</label>
                    <input asp-for="Name_Ar" class="form-control" required />
                    <span asp-validation-for="Name_Ar" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="حفظ" class="btn btn-primary form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span class="btn-primary">
                                <a asp-action="Index" value="رجوع" class="btn btn-primary form-control">رجوع</a>
                            </span>

                        </div>
                    </div>
                </div>
            </form>
            <div>
                
            </div>
        </div>
    </div>
</div>



